.card {
	margin: 2em 0 0 0;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
	max-width: 28%;
	min-width: 20%;
	min-height: 50vh;
	border-radius: 1rem;
	padding: 0 1em 0 1em;
}

.company-icon {
	max-width: 40%;
	max-height: 10%;
	margin: 0 auto;
}
.project-icon {
	max-height: 10%;
	font-size: 100px;
	margin: 0 auto;
}

.card-description {
	max-width: 80%;
	text-align: center;
	margin: 0 auto;
}

.role-title {
	margin-top: -1em;
}

.project-link {
	margin: 2em auto auto auto;
	margin-bottom: 1em;
	text-decoration: none;
}
.project-link:hover {
	text-decoration: underline;
}

@media screen and (max-width: 800px) {
	.card {
		max-width: 90%;
		min-width: 70%;
		padding: 1em;
		padding-top: 0;
		margin: 1em 0 0 0;
	}
	.card:hover {
		box-shadow: none;
	}
}

@media all and (max-width: 1000px) and (min-width: 801px) {
	.card {
		max-width: 60%;
		min-width: 50%;
	}
}

@media all and (max-width: 1200px) and (min-width: 1001px) {
	.card {
		max-width: 30%;
		min-width: 20%;
	}
}
