.card {
	margin: 2em 0 0 0;
	display: grid;
	text-align: center;
	grid-template-rows: 15em 12em 2em;
	max-width: 28%;
	min-width: 20em;
	min-height: 27em;
	border-radius: 1rem;
	padding: 1em 1em 1em 1em;
}

.card__headers {
	margin: 0 auto;
	grid-row: 1;
}

.company-icon {
	max-width: 50%;
	max-height: 4em;
}
.project-icon {
	max-height: 10%;
	font-size: 60px;
}

.card-description {
	max-width: 80%;
	text-align: center;
	margin: 0 auto;
	grid-row: 2;
	padding-top: 1em;
}

.project-link {
	margin: 0 auto auto auto;
	text-decoration: none;
	grid-row: 3;
	/* padding-top: 1em; */
}
.project-link:hover {
	text-decoration: underline;
}

/* @media screen and (max-width: 800px) {
	.card {
		max-width: 90%;
		min-width: 70%;
		padding: 1em;
		grid-template-rows: 50% 40% 10%;
	}
	.card:hover {
		box-shadow: none;
	}
	.card-description {
		padding-top: 1em;
	}
	.project-link {
		padding-top: 1em;
	}
} */

/* @media all and (max-width: 1000px) and (min-width: 801px) {
	.card {
		max-width: 60%;
		min-width: 50%;
	}
}

@media all and (max-width: 1200px) and (min-width: 1001px) {
	.card {
		max-width: 30%;
		min-width: 20%;
	}
	.project-link {
		padding: 1em 0;
	}
}

@media all and (max-width: 1450px) and (min-width: 1201px) {
	.project-link {
		padding-top: 1em;
	}
} */
