.home {
	display: flex;
	width: 66%;
	justify-content: center;
	flex-wrap: wrap;
	box-shadow: 5px 0 10px 1px #000, -5px 0 10px 1px #000;
}

.title {
	flex-basis: 100%;
	text-align: center;
	font-size: 40px;
	letter-spacing: 2px;
}

.content {
	flex-basis: 70%;
	text-align: center;
}

@media screen and (max-width: 1000px) {
	.home {
		width: 100%;
		box-shadow: none;
	}

	.content {
		flex-basis: 80%;
	}
}
