:root {
	--main-color: rgb(67, 67, 67);
	--accent-color: #e3e3e3e3;
	--logo-padding: calc(1em + 1px) 2em;
	--logo-padding-hover: calc(1em + 1px) 6em calc(1em + 1px) 3em;
	--link-padding: 1em;
	--link-padding-hover: 1em 2em;
	--link-padding-last: 3em;
	--link-padding-last-hover: 1em 4em 1em 3em;
}

.navbar {
	position: sticky;
	top: 0;
	display: flex;
	width: 100vw;
	height: 3.5em;
	background-color: var(--main-color);
	box-shadow: 0px 2px 8px 2px rgb(35, 35, 35);
	overflow-x: hidden;
	align-items: center;
}

.navbar__logo {
	transform: skew(-20deg);
	text-align: center;
	width: 20%;
	padding: var(--logo-padding);
	margin-left: -1em;
	background-color: var(--accent-color);
	letter-spacing: 2px;
	transition: 0.3s padding ease-in-out;
}

.navbar__logo:hover {
	padding: var(--logo-padding-hover);
}

.navbar__logo__text {
	color: var(--main-color) !important;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 20px;
	transform: skew(20deg);
}

.navbar__logo__text:hover {
	color: var(--main-color) !important;
}

.navbar__navList {
	margin-left: auto;
	text-align: center;
	transform: skew(-20deg);
}

.navbar__navList__link {
	color: var(--accent-color);
	display: inline-block;
	padding: 1em;
	padding-top: calc(1em + 2px);
	text-transform: uppercase;
	transition: 0.3s padding ease-in-out;
}

.navbar__navList__link:last-child {
	padding-right: var(--link-padding-last);
	margin-right: -1em;
}

.navbar__navList__link:hover {
	color: var(--main-color);
	background-color: var(--accent-color);
	padding: var(--link-padding-hover);
}

.navbar__navList__link:last-child:hover {
	padding: var(--link-padding-last-hover);
}

@media only screen and (max-width: 800px) {
}
