:root {
	--main-color: rgb(67, 67, 67);
	--accent-color: #e3e3e3e3;

	--logo-padding: 0.8em 3em 0.8em 3em;
	--logo-padding-hover: 0.8em 10em 0.8em 3em;

	--logo-padding-media: 0.9em 1.7em;

	--link-padding: 1em;
	--link-last-padding: 1.2em;

	--link-padding-media: calc(1em + 1px) 0.5em;
	--link-last-padding-media: calc(1em + 1px) 1.1em;
	--link-last-margin-media: -0.6em;
}

.navbar__navList__link.active {
	color: red;
}

.navbar__navList__link.active:hover {
	color: red;
}

.navbar {
	position: sticky;
	top: 0;
	display: flex;
	width: 100vw;
	height: 3.5em;
	/* background-color: var(--main-color); */
	box-shadow: 0px 2px 8px 2px rgb(35, 35, 35);
	overflow-x: hidden;
	align-items: center;
}

.navbar__logo {
	transform: skew(-20deg);
	max-width: 25%;
	padding: var(--logo-padding);
	margin-left: -1em;
	/* background-color: var(--accent-color); */
	letter-spacing: 2px;
	transition: 0.3s padding ease-in-out;
}

.navbar__logo:hover {
	padding: var(--logo-padding-hover);
	transition: 0.3s padding ease-in-out;
}

.navbar__logo__text {
	/* color: var(--main-color) !important; */
	text-transform: uppercase;
	font-weight: 500;
	font-size: 20px;
	text-decoration: none;
	transform: skew(20deg);
}

/* .navbar__logo__text:hover {
	color: var(--main-color) !important;
} */

.navbar__navList {
	margin-left: auto;
	text-align: center;
	transform: skew(-20deg);
}

.navbar__navList__link {
	color: var(--accent-color);
	display: inline-block;
	padding: 1em;
	padding-top: calc(1em + 2px);
	text-transform: uppercase;
	transition: 0.3s padding ease-in-out;
}

.navbar__navList__link__text {
	display: inline-block;
	transform: skew(20deg);
}

.navbar__navList__link:last-child {
	padding-right: 3em;
	margin-right: -1em;
	transition: 0.3s padding ease-in-out;
}

.navbar__navList__link:hover {
	color: var(--main-color);
	background-color: var(--accent-color);
	padding-right: var(--link-last-padding);
	padding-left: var(--link-last-padding);
	transition: 0.3s padding ease-in-out;
}

.navbar__navList__link:last-child:hover {
	padding-left: 3em;
	padding-right: 4em;
	transition: 0.3s padding ease-in-out;
}

.navbar__logo__text,
.navbar__navList__link__text {
	user-select: none;
}

@media screen and (max-width: 800px) {
	* {
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-o-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}

	.navbar {
		position: sticky;
		top: 0;
		height: 3.5em;
	}

	.navbar__logo,
	.navbar__logo:hover {
		padding: var(--logo-padding-media);
	}

	.navbar__navList__link,
	.navbar__navList__link:hover {
		padding: var(--link-padding-media);
		text-decoration: none;
		margin-right: -1px;
	}
	.navbar__navList__link:last-child,
	.navbar__navList__link:last-child:hover {
		padding: var(--link-last-padding-media);
		padding-right: 1.5em;
		margin-right: var(--link-last-margin-media);
		text-decoration: none;
	}

	.active {
		color: red !important;
	}

	.active:hover {
		color: red;
	}

	.navbar__navList__link,
	.navbar__logo__text {
		text-transform: none;
	}
}
@media all and (max-width: 1200px) and (min-width: 801px) {
	.navbar__logo,
	.navbar__logo:hover {
		padding: var(--logo-padding);
		transition: none;
	}

	.navbar__navList__link,
	.navbar__navList__link:hover,
	.navbar__navList__link.active:hover {
		padding: 1em;
		padding-top: calc(1em + 2px);
		transition: none;
	}

	.navbar__navList__link:last-child,
	.navbar__navList__link:last-child:hover {
		padding-right: 3em;
		padding-left: 2em;
		transition: none;
	}
}

@media screen and (min-width: 1201px) {
	.navbar__navList__link {
		letter-spacing: 3px;
	}
}

/* smartphones, touchscreens */
/* @media (hover: none) and (pointer: coarse) { */
/* ... */
/* } */
/* stylus-based screens */
/* @media (hover: none) and (pointer: fine) { */
/* ... */
/* } */
/* Nintendo Wii controller, Microsoft Kinect */
/* @media (hover: hover) and (pointer: coarse) { */
/* ... */
/* } */
