:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;

	--main-color: rgb(67, 67, 67);
	--accent-color: #e3e3e3e3;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

.bg-dark {
	background-color: var(--main-color);
}
.bg-light {
	background-color: var(--accent-color);
}

.text-dark {
	color: var(--main-color) !important;
}
.text-light {
	color: var(--accent-color) !important;
}
.text-hover-dark:hover {
	color: var(--main-color) !important;
}
.text-hover-light:hover {
	color: var(--accent-color) !important;
}

body {
	margin: 0;
	display: flex;
	min-width: 100vw;
	min-height: 100vh;
	background-color: var(--main-color);
	-webkit-scrollbar-width: none !important;
	scrollbar-width: none;
	overflow-x: hidden;
}

@media only screen and (max-width: 800px) {
	* {
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-o-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}
}
